@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');
*::after, *::before {
    box-sizing: border-box;
} 

.hide {
    display: none;
}
.none {
    visibility: hidden;
}
.hidehide {
    visibility: hidden;
} 
body {
    margin: 0;
    overflow-y: hidden;
    user-select: none;
    height: 100vh; 
    width: 100vw;
    overflow-x: hidden;
}
.title {
    width: 400px;
    height: 200px;
    font-size: 80px;
    font-family: 'Anaheim'; 
    position: relative !important; 
    top: 32px !important;
    left: 40px !important;
}
.title span:nth-child(1) {
    color: grey;
}
.gen {
    text-transform: uppercase; 
}
.bg-svg  {
    height:350px;
    width:700px;
    background: linear-gradient(157.33deg, #D9D9D9 14.73%, #F2F2F2 63.49%, #F2F2F2 63.49%);
    border-radius: 58px;
    z-index: -1;
    position: absolute;
    right: -100px;
    bottom: -100px;
    overflow-x: hidden;
    transition: after 200ms ease-in-out; 
}
.button-align {
    display: flex; 
    justify-content: center;
}
.div-align {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 50vh;
}
.get_started {
font-family: 'Anaheim';
font-weight: 400;
font-size: 68px;
height: 180px;
width: 500px;
border: 5px solid;
border-radius: 10px;
background: #fff; 
outline: none;
position: relative;
top: 45%;
}
.get_started:hover, .submit:hover {
    background: #dce0e0;
    color: black;
}
.get_started:active, .submit:active {
    background: black;
    color: white;
}
.copyright {
    font-family: 'Anaheim';
     position: relative;
     left: 2.2%;
     top: 57em;
}
/************page 2*************/
.wrapper {
    background: linear-gradient(188.77deg, #CBCBCB 6.68%, #EFEEEE 99.7%);
    border-radius: 50px;
    width: 1800px;
    height: 207px;
    display: grid;
    padding: 4em;
 
}
.input-holder {
  font-family: 'Anaheim';
  display: flex;   
  justify-content: space-around;
  align-items: center;
}
.input {
 background-color: white;
 border: 5px black solid;
 border-radius: 10px;
 font-size: 24px;
 padding-left: 20px;
}
.range {
  height: 60px;  
  width: 400px;
  outline: none;

}
.amount {
    height: 60px;
    width: 650px; 
    outline: none;
}
.label {
    font-size: 48px;
    margin: 0;
    padding: 0;
}
.submit {
    height: 70px;
    width: 120px;
    background-color: white;
    border: 5px black solid;
    border-radius: 10px;
    font-family: 'anaheim'; 
    font-size: x-large;
}
#listResult p{
    padding-right: 100px;
}

/**********Page 3 (results) *************/

 .container {
     height: 50vh; 
     width: 100vw;
     background: linear-gradient(157.33deg, #D9D9D9 14.73%, #F2F2F2 63.49%, #F2F2F2 63.49%);
     background-size: cover;
     position: relative;
     bottom: 0;
    }
 
.res-title {
    font-family: 'Anaheim';
    font-weight: 400;
    font-size: 35px;
    text-transform: uppercase;
    padding-left: 39px;
    padding-top: 30px; 
    }
.result-align {
 display: flex;
 justify-content: center;
}
.numbers { 
    font-family: 'Anaheim';
    font-size: 48px;
    margin: 10px;
    padding: 0;
    
}
.styleDiv {
    background: #fff;
    height: 100%;
    padding: 1em;
    border-radius: 100%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
 
}   
.clear {
    display: none;
}
.list {
    display: flex;
}
.list p {
    font-family: 'Anaheim';
    background-color: darkgrey; 
    font-size: 50px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    color: white;
    padding: 5px; 
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items:center;
}
@media screen and (max-width: 1920px) {
   .title , .title span:nth-child(1)  {
            font-size:60px;
        }
    .get_started {
        font-size: 48px;
        height: 120px;
        width: 400px;
        position: relative;
        top: 110px;
        }
        .wrapper {
            background: linear-gradient(188.77deg, #CBCBCB 6.68%, #EFEEEE 99.7%);
            border-radius: 50px;
            width: 1300px;
            height: 107px;
            display: grid;
            padding: 3.5em;
            position: relative; 
            top: -30px;
        }
        .range {
            height: 60px;  
            width: 150px;
            outline: none;
          }
          .bg-svg {
            height:325px;
            width:600px;
            background: linear-gradient(157.33deg, #D9D9D9 14.73%, #F2F2F2 63.49%, #F2F2F2 63.49%);
            border-radius: 58px;
            z-index: -1;
            position: absolute;
            right: -100px;
            bottom: -100px;
            overflow-x: hidden;
        }
        .container {
            height: 325px;
            width: 95vw;
            position: absolute;
            right: -100px;
            bottom: -100px;
            overflow-x: hidden;
    background: linear-gradient(157.33deg, #D9D9D9 14.73%, #F2F2F2 63.49%, #F2F2F2 63.49%);
    border-radius: 58px;
            
        }
           .styleDiv {
            margin: 10px;
        }
        #list {
            position: relative; 
            top: -40px;
        }
        .res-title {
            position: relative;
            top: -25px;
        }
}
